<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog-template</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/extra.css" />
    <link href="./prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/_global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script>
      window.MathJax = {
        MathML: { extensions: ["mml3.js", "content-mathml.js"] },
      };
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=MML_HTMLorMML"
    ></script>
  </head>
  <body>
    <a id="edit-button" style="text-decoration: none"
      ><i class="fa fa-edit" style="font-size: 25px" title="Edit Article"></i
    ></a>
    <input
      id="page-nav-toggle"
      class="main-navigation-toggle"
      type="checkbox"
    />

    <label for="page-nav-toggle">
      <svg class="icon--menu-toggle" viewBox="0 0 60 30">
        <g class="icon-group">
          <g class="icon--menu">
            <path d="M 6 0 L 54 0" />
            <path d="M 6 15 L 54 15" />
            <path d="M 6 30 L 54 30" />
          </g>
          <g class="icon--close">
            <path d="M 15 0 L 45 30" />
            <path d="M 15 30 L 45 0" />
          </g>
        </g>
      </svg>
    </label>

    <nav class="main-navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blog-editor">Create</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <form
      method="post"
      action="/admin-logout?_method=DELETE"
      id="logout-form"
    ></form>
    <div class="blog-head">
      <div id="blog-title"></div>
      <div id="blog-time"></div>
    </div>
    <div id="blog-title"></div>
    <hr id="hr-alt" />
    <div id="blog-body" class="blog-body"></div>
    <script>
      var re = <%- JSON.stringify(blogObject) %>;

      console.log(re);
    </script>
  </body>
  <script>
    document.getElementById(
      "edit-button"
    ).href = `/blog-edit?bid=${re.blog_id}`;
  </script>
  <script src="./prism/prism.js"></script>
  <script src="./scripts/fetchArticle.js"></script>
  <script src="./scripts/logout.js"></script>
</html>
