@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#app {
  width: 50vh;
  height: 90vh;
  padding: 6vh;
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-view {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-header {
  padding: 6vh;
}
.app-header,
.app-header > * {
  font-size: 4.8vh;
  margin: 0;
  font-weight: 300;
}
.app-header > h1 {
  font-size: 4.8vh;
  font-weight: 400;
  margin-bottom: 4.8vh;
}
.app-header > h2 {
  font-size: 3vh;
}

.app-subheading {
  color: rgba(0, 0, 0, 0.45);
}

.app-register {
  position: absolute;
  bottom: 0;
  height: 10vh;
  line-height: 10vh;
  padding: 0 6vh;
  color: rgba(0, 0, 0, 0.45);
}
.app-register > a {
  font-weight: 400;
}

input {
  font-size: 2.5vh;
  width: calc(100% - 13vh);
  height: 7.5vh;
  margin-bottom: 2vh;
  background: transparent;
  left: 6.5vh;
  z-index: 2;
  border: none;
  box-shadow: inset 0 -0.5vh rgba(0, 0, 0, 0.1);
}
input:focus {
  outline: none;
  box-shadow: inset 0 -0.5vh transparent;
}
/* input[type="email"] {
  top: 58%;
}
input[type="password"] {
  top: calc(58% + 7.5vh);
}

input[type="email"]:valid ~ * .st1 {
  transition-timing-function: ease-in-out;
  stroke-dasharray: 50, 153;
  stroke-dashoffset: 25;
}

input[type="password"]:focus ~ * .st0,
input[type="password"]:valid ~ * .st0,
.app-button:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: -305;
}
input[type="name"]:focus ~ * .st0,
input[type="name"]:valid ~ * .st0,
.app-button:focus ~ * .st0 {
  stroke-dasharray: 10, 40;
  stroke-dashoffset: 50;
}

input[type="email"]:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: 0;
}
 */
input:not(:valid) ~ .app-button {
  pointer-events: none;
  opacity: 0.6;
}

.app-button {
  text-decoration: none;
  color: #0f9ede;
  font-size: 4.8vh;
  padding: 0 6vh;
  position: absolute;
  bottom: 10vh;
  font-weight: 400;
}
.app-button:focus {
  outline: none;
}

/* @-webkit-keyframes button-press {
  from,
  20% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  40%,
  to {
    opacity: 0;
  }
}

@keyframes button-press {
  from,
  20% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  40%,
  to {
    opacity: 0;
  }
}
#welcome:target ~ * .app-button {
  -webkit-animation: button-press 2s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation: button-press 2s cubic-bezier(0.77, 0, 0.175, 1) both;
}
#welcome:target ~ * .st0 {
  stroke-dashoffset: -760;
  stroke-dasharray: 140, 900;
  transition-duration: 1.2s;
  -webkit-animation: disappear 0s 1.3s both;
  animation: disappear 0s 1.3s both;
}
#welcome:target ~ * .st1 {
  transition-duration: 0.3s;
  opacity: 0;
}
#welcome:target ~ * .app-graphic {
  transform: translate(0, 0);
  opacity: 1;
}
#welcome:target ~ * #svg-lines {
  -webkit-animation: pulse 0.5833333333s 1.2s ease-in-out both;
  animation: pulse 0.5833333333s 1.2s ease-in-out both;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
#welcome:target ~ * .svg-loader {
  -webkit-animation: appear 0s 1.2s both;
  animation: appear 0s 1.2s both;
}
#welcome:target ~ * .svg-loader-segment {
  transition-delay: 3.75s;
  opacity: 0;
}
#welcome:target ~ * .svg-loader-segment.-cal {
  transform: translateX(4vh) translateY(-4vh);
  stroke: #08b5cf;
}
#welcome:target ~ * .svg-loader-segment.-heart {
  transform: translateX(3.5vh) translateY(6.7vh);
  stroke: #9965aa;
}
#welcome:target ~ * .svg-loader-segment.-steps {
  transform: translateX(-6.9vh) translateY(5.2vh);
  stroke: #0f9ede;
}
#welcome:target ~ * .svg-loader-segment.-temp {
  transform: translateX(-14vh) translateY(-4vh);
  stroke: #f4814b;
}
#welcome:target ~ * .svg-data {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.6s 4.95s, opacity 0.6s 4.95s,
    stroke-dasharray 0.6s 4.95s, stroke-dashoffset 0.6s 4.95s;
}
#welcome:target ~ * .svg-data.-temp {
  stroke-dasharray: 118;
}
#welcome:target ~ * .svg-data.-cal {
  stroke-dasharray: 113;
}
#welcome:target ~ * .svg-data.-steps-bg,
#welcome:target ~ * .svg-data.-steps {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
}
#welcome:target ~ * .svg-data.-heart {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
#welcome:target ~ * .svg-activity-fill,
#welcome:target ~ * .svg-activity-line {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 1.2s;
  transition-delay: 4.95s;
}
#welcome:target ~ * .app-view:nth-child(1) > :not(svg) {
  opacity: 0;
  pointer-events: none;
}
#welcome:target ~ * .app-view:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
}
#welcome:target ~ * .app-view:nth-child(2) > .app-header > *,
#welcome:target ~ * .app-view:nth-child(2) > .app-content,
#welcome:target ~ * .app-view:nth-child(2) > .app-activity,
#welcome:target ~ * .app-view:nth-child(2) .app-item,
#welcome:target ~ * .app-view:nth-child(2) .app-item > *:not(.app-graphic) {
  transform: translateY(0);
  transition-delay: 4.95s;
  opacity: 1;
}
#welcome:target ~ * .app-view:nth-child(2) > .app-activity {
  opacity: 1;
}
#welcome:target ~ * .app-view:nth-child(2) .app-item,
#welcome:target ~ * .app-view:nth-child(2) > .app-content {
  border-color: #e3e3e3;
}

#welcome:not(:target) ~ * .app-graphic {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes pulse {
  from,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes pulse {
  from,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes disappear {
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
} */
/* .app-view:nth-child(2) {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.app-view:nth-child(2) > .app-header {
  font-size: 1rem;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh;
  padding-bottom: 1rem;
}
.app-view:nth-child(2) > .app-header > h2 {
  transform: translateY(1rem);
}
.app-view:nth-child(2) > .app-header > h2 > em {
  color: #0f9ede;
  font-style: normal;
}
.app-view:nth-child(2) > .app-header > h2,
.app-view:nth-child(2) .app-item > *:not(.app-graphic) {
  transition-duration: 0.9s;
  opacity: 0;
}
.app-view:nth-child(2) > .app-content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  flex-basis: 40%;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
}
.app-view:nth-child(2) > .app-activity {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0;
}
.app-view:nth-child(2) > .app-activity > .app-header {
  padding: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-view:nth-child(2) > .app-activity > .app-header > h2 {
  flex-grow: 1;
}
.app-view:nth-child(2) > .app-activity > .app-graph {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #8a9aae;
}

.route {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}
#register-form {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
#register-form input {
  padding: 20px !important;
}
